---
import { ClientRouter } from "astro:transitions";
const pageTitle = "About Me";
import "../styles/global.css";

let basicDevSkills = ["HTML", "CSS"];
let programmingLanguages = ["JavaScript", "PHP", "C++"];
let webFrameworks = ["React", "Astro"];
let cssLibraries = ["Bootstrap", "Tailwind"];
let cppFrameworks = ["JUCE"];
---
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/devblog/">Dev Blog</a>
<html lang="en">
	<head>
		<meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
	</head>
  <body>
    <div class="flex md:flex-row">
      <h1 class="font-bold text-5xl p-20 pb-5">{pageTitle}</h1>
      <p class="pt-10 pl-5 pr-10 pb-5 text-xl self-center font-bold">A hockey player who loves critical thinking and giving myself brain damage. Oh, and I'm also a full-stack developer and a musician.</p>
    </div>
    <div class="flex md:flex-row place-content-around p-10 pt-5">
      <div class="col-span-2 p-10 pt-0">
        <h2 class="font-bold text-3xl">Development</h2>
        <div>
          <p class="text-2xl text-bold">Development Skills</p>
          <p class="text-xl text-bold">Basic Skills</p>
          {basicDevSkills.map((skill) => <li>{skill}</li>)}
          <p class="text-xl text-bold">Programming Languages</p>
          {programmingLanguages.map((language) => <li>{language}</li>)}
          <p class="text-xl text-bold">Web Frameworks</p>
          {webFrameworks.map((framework) => <li>{framework}</li>)}
          <p class="text-xl text-bold">CSS Libraries</p>
          {cssLibraries.map((library) => <li>{library}</li>)}
          <p class="text-xl text-bold">C++ Frameworks</p>
          {cppFrameworks.map((framework) => <li>{framework}</li>)}
        </div>
      </div>
    </div>
  </body>
</html>
