---
import { ClientRouter } from "astro:transitions";
const pageTitle = "About Me";
const titleSecondary = "A hockey player who loves critical thinking and giving myself brain damage. Oh, and I'm also a full-stack developer and a musician.";
import SplitTitleLayout from "../layouts/SplitTitleLayout.astro";

let basicDevSkills = ["HTML", "CSS"];
let programmingLanguages = ["JavaScript", "PHP", "C++"];
let webFrameworks = ["React", "Astro"];
let cssLibraries = ["Bootstrap", "Tailwind"];
let cppFrameworks = ["JUCE"];
---
<SplitTitleLayout pageTitle={pageTitle} titleSecondary={titleSecondary}>
  <div class="flex md:flex-row place-content-around p-10 pt-5">
    <div class="col-span-2 p-10 py-0">
      <h2 class="font-bold text-3xl">Development</h2>
      <div>
        <p class="text-2xl text-bold">Development Skills</p>
        <p class="text-xl text-bold">Basic Skills</p>
        {basicDevSkills.map((skill) => <li>{skill}</li>)}
        <p class="text-xl text-bold">Programming Languages</p>
        {programmingLanguages.map((language) => <li>{language}</li>)}
        <p class="text-xl text-bold">Web Frameworks</p>
        {webFrameworks.map((framework) => <li>{framework}</li>)}
        <p class="text-xl text-bold">CSS Libraries</p>
        {cssLibraries.map((library) => <li>{library}</li>)}
        <p class="text-xl text-bold">C++ Frameworks</p>
        {cppFrameworks.map((framework) => <li>{framework}</li>)}
      </div>
    </div>
  </div>
</SplitTitleLayout>
